---
Checks: '-*,readability,__llvm_libc-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key:   readability-identifier-naming.ClassMemberPrefix
    value: 'm_'
  - key:   readability-identifier-naming.ConstexprVariableCase
    value: camelBack
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.FunctionCase
    value: camelBack
  - key:   readability-identifier-naming.GlobalConstantCase
    value: camelBack
  - key:   readability-identifier-naming.StaticConstantCase
    value: camelBack
  - key:   readability-identifier-naming.StaticVariableCase
    value: camelBack
  - key:   readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.MemberCase
    value: camelBack
  - key:   readability-identifier-naming.NamespaceCase
    value: camelBack
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
  - key:   readability-identifier-naming.TypedefCase
    value: CamelCase
  - key:   readability-identifier-naming.VariableCase
    value: camelBack
  - key:   readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1
  - key:   readability-identifier-naming.FunctionIgnoredRegexp
    value: 'app_main'
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'