# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# PlatformIO files
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.pio
build

# Vscode files
.vscode
*.code-workspace

# ESP-IDF sdkconfig
sdkconfig.*
!sdkconfig.defaults
!sdkconfig.esp32
!sdkconfig.esp32-s2
!sdkconfig.esp32-s3
/dependencies.lock
